@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

body {
  background-color: azure;
  font-family: 'Roboto Mono', monospace;
}

.board {
  display: grid;
  padding: 2px;
  background-color: darkgreen;
  width: fit-content;
}

button.no-browser-styling {
  border: none !important;
  box-shadow: none !important;
  font-family: inherit;
  font-size: inherit;
}
button.no-browser-styling:hover, button.no-browser-styling:active, button.no-browser-styling:focus {
  outline: none !important;
}

.board .covered, .board .uncovered {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  position: relative;
  font-size: 120%;
}
.board .covered.dark {
  background-color: #8ECC39;
}
.board .covered.light {
  background-color: #A7D948;
}
.board .uncovered.dark {
  background-color: #D7B899;
}
.board .uncovered.light {
  background-color: #E5C29F;
}
.board .covered:hover {
  background-color: #BEE17D;
}

.board span._1 {
  color: blue;
}
.board span._2 {
  color: green;
}
.board span._3 {
  color: red;
}
.board span._4 {
  color: purple;
}
.board span._5 {
  color: darkorange;
}
.board span._6 {
  color: darkblue;
}
.board span._7 {
  color: #E35672;
}

.board .flag {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}