@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

body {
  background-color: azure;
  font-family: 'Roboto Mono', monospace;
}

header {
  width: 100%;
  text-align: center;
}

main {
  display: flex;
  justify-content: center;
}
.stats-and-board-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stats {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 15px;
  width: 100%;
}
.centered-row {
  display: flex;
  align-items: center;
}
select.dropdown {
  padding: .4em;
  border-radius: 3px;
  background-color: white;
  font-family: inherit;
}

.board {
  position: relative;
  z-index: 30;
  display: grid;
  padding: 2px;
  background-color: darkgreen;
  width: fit-content;
  cursor: default;
  font-weight: bold;
}

.board .covered, .board .uncovered {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  position: relative;
}
.board .covered.dark {
  background-color: #8ECC39;
}
.board .covered.light {
  background-color: #A7D948;
}
.board .uncovered.dark {
  background-color: #D7B899;
}
.board .uncovered.light {
  background-color: #E5C29F;
}
.board .covered:hover {
  background-color: #BEE17D;
}

.board span._1 {
  color: blue;
}
.board span._2 {
  color: green;
}
.board span._3 {
  color: red;
}
.board span._4 {
  color: purple;
}
.board span._5 {
  color: darkorange;
}
.board span._6 {
  color: darkblue;
}
.board span._7 {
  color: #E35672;
}

.board .flag {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.board-and-overlay {
  position: relative;
} 

.reset-overlay {
  position: absolute;
  z-index: 20;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: darkgray;
  display: grid;
  grid-row: auto;
  align-items: center;
  justify-items: center;
  background-color: rgba(126, 161, 120, 0.4);
}

button.reset {
  font-family: inherit;
  font-size: 1em;
  padding: 1em;
  border: 0;
  border-radius: 10px;
}
button.reset:hover{
  background-color: rgb(224, 224, 224);
}
button.reset:active {
  background-color: rgb(179, 179, 179);
}
button.reset:focus {
  outline: none;
  box-shadow: none;
}